%p
  %b Name:
  = jar_file.name

%h3 Třídy v JAR
%ul
  - for klass in jar_file.bundled_java_classes
    %li
      %strong= link_to klass.canonical_name, klass

= link_to 'Zpět na výpis JAR souborů', jar_files_path
